@model IEnumerable<Employee>
<h2>Employee Details</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FullName</td>
                <td>@employee.Email</td>
                <td>@employee.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>









